<div class="section breadcrumbs">
	<div class="row small">
		<div class="column large-12">
			<a href="{{::urlRoot}}">Owloo</a>
			<i class="fa fa-angle-right"></i>
			<a href="{{::urlRoot}}features">C&oacute;mo funciona</a>
		</div>
	</div>
</div>
<div class="app-content">
	<div class="section text-center">
		<div class="row big">
			<div class="column large-12">
				<h1>{{'OWLOO_FEATURES_H1_TITLE' | translate}}</h1>
				<div class="row">
					<div class="column large-offset-3 large-6">
						<p>{{'OWLOO_FEATURES_H3_DESC' | translate}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column large-offset-2 large-8">
				<div class="widget box total-data">
					<div class="body">
						<div class="row">
							<div class="item column large-3">
								<h3>{{totalTwitterProfiles}}</h3>
								<p>{{'OWLOO_COUNTER_TWITTER_ACCOUNTS' | translate | replace:'$1':''}}</p>
							</div>
							<div class="item column large-3">
								<h3>{{::totalFacebookPages}}</h3>
								<p>{{'OWLOO_COUNTER_FACEBOOK_PAGES' | translate | replace:'$1':''}}</p>
							</div>
							<div class="item column large-3">
								<h3>{{::totalInstagramProfiles}}</h3>
								<p>{{'OWLOO_COUNTER_INSTAGRAM_PAGES' | translate | replace:'$1':''}}</p>
							</div>
							<div class="item column large-3">
								<h3>{{::totalOwlooUsers}}</h3>
								<p>{{'OWLOO_COUNTER_USERS_REGISTERED' | translate | replace:'$1':''}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section even text-center">
		<div class="row big">
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-line-chart"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE1_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE1_DESC' | translate}}</p>
					</div>
				</div>
			</div>
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-globe"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE2_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE2_DESC' | translate}}</p>
					</div>
				</div>
			</div>
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-facebook"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE3_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE3_DESC' | translate}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row big">
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-twitter"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE4_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE4_DESC' | translate}}</p>
					</div>
				</div>
			</div>
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-heart-o"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE5_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE5_DESC' | translate}}</p>
					</div>
				</div>
			</div>
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-crosshairs"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE6_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE6_DESC' | translate}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column large-4">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-wrench"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE7_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE7_DESC' | translate}}</p>
					</div>
				</div>
			</div>
			<div class="column large-4 end">
				<div class="row">
					<div class="column large-offset-1 large-10">
						<div class="icon small">
							<i class="fa fa-instagram"></i>
						</div>
						<h3>{{'OWLOO_FEATURES_FEATURE8_TITLE' | translate}}</h3>
						<p>{{'OWLOO_FEATURES_FEATURE8_DESC' | translate}}</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="row">
			<div class="column large-6">
				<div class="widget box">
					<div class="body">
						<div class="row">
							<div class="column large-12">
								<h3>Owloo para todos</h3>
								<p>Owloo es una herramienta de análisis y estadísticas creada para diferentes sectores. Ayuda a las agencias de publicidad y medios de comunicación online y offline, empresas, profesionales y estudiantes que necesitan conocer los mercados, compararlos y optimizar los esfuerzos del marketing.</p>
								<p>Pueden conocer la penetración de Facebook en un determinado país, las estadísticas de una página o el crecimiento de una cuenta en Twitter, analizando cada detalle, ayudando así a optimizar los esfuerzos del marketing.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column large-6">
				<div class="widget box">
					<div class="body">
						<div class="row">
							<div class="column large-12">
								<h3>Facebook por páginas</h3>
								<p>Actualmente Owloo permite analizar las estadísticas de las páginas de Facebook brindando datos actualizados diariamente. Gracias a esta poderosa herramienta podemos medir el crecimiento de fans, ver la popularidad de una página y calcular la participación de los usuarios con la misma.</p>
								<p>Gracias a los miles de datos que recibimos diariamente y las nuevas páginas que se agregan a Owloo, se puede ver la clasificación de las páginas de Facebook más populares en la mayoría de los países del mundo.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column large-6">
				<div class="widget box">
					<div class="body">
						<div class="row">
							<div class="column large-12">
								<h3>Investigaciones de mercados</h3>
								<p>Analizar un mercado es un proceso fundamental para determinar el éxito de un producto o de una campaña de marketing digital. A través de Facebook y Twitter y los análisis de Owloo, es posible conocer los gustos e intereses de un mercado, enterarse de factores que pueden influenciar la actual estructura de una campaña publicitaria o estrategias comerciales de una empresa, las tendencias y situación demográficas y geográfica del mismo.</p>
								<p>Gracias a Facebook, Twitter y otras redes sociales que agrupan a más de 1.5 billones de personas en todo el mundo, Owloo te permite conocer precisos datos de un país específico.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column large-6">
				<div class="widget box">
					<div class="body">
						<div class="row">
							<div class="column large-12">
								<h3>Medir y analizar Facebook y Twitter</h3>
								<p>Owloo analiza los principales datos de cada país, permitiendo conocer la penetración de usuarios, el crecimiento de Facebook durante los últimos meses, saber los intereses y gustos de las personas en un determinado país, las estadísticas de los dispositivos móviles y plataformas y un completo detalle demográfico y geográfico de los usuarios en Facebook.</p>
								<p>Además, es muy fácil monitorear el crecimiento de una cuenta de Twitter, los hashtags más utilizados, seguidores, menciones y la posibilidad de descargar datos históricos de cualquier cuenta existente en Twitter. Fundamental para cualquier empresa o agencia.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<owloo-footer></owloo-footer>
</div>