<div class="section footer">
    <div class="links">
        <div class="row">
            <div class="column large-3">
                <ul>
                    <li><a href="{{::urlRoot}}facebook-stats/pages/hispanic/">Ranking de páginas en Facebook</a></li>
                    <li><a href="{{::urlRoot}}facebook-stats/world-ranking/">Facebook por país y ciudad</a></li>
                    <li><a href="{{::urlRoot}}twitter-stats/">Estad&iacute;sticas de Twitter</a></li>
                    <li><a href="{{::urlRoot}}features/">Conoce Owloo</a></li>
                </ul>
            </div>
            <div class="column large-4">
                <p>Owloo es una startup que ofrece monitoreo y seguimiento de las redes sociales, permitiendo el análisis y la comparación de las estadísticas e indicadores de los medios sociales.</p>
            </div>
        </div>
    </div>
    <div class="credits">
        <div class="row">
            <div class="column large-6">
                <p>© 2014 Owloo, un producto de <a href="//www.latamclick.com" target="_blank" rel="nofollow">Latamclick S.A.</a> Todos los derechos reservados.</p>
            </div>
            <div class="column large-3 text-right">
                <a href="{{::urlRoot}}privacy/" target="_blank">Políticas de privacidad</a>
            </div>
        </div>
    </div>
</div>