/* ========== Global Styles ========== */
/* Form wrapper */
.thumbsup { position:relative; margin:0 auto; padding:0; border:0; cursor:default; }
.thumbsup.left { margin-left:0; }
.thumbsup.right { margin-right:0; }

/* Use pointer cursor for all input */
.thumbsup input, .thumbsup button, .thumbsup label { cursor:pointer; }
.thumbsup.disabled input, .thumbsup.disabled button, .thumbsup.disabled label { cursor:default; }

/* Remove dotted outlines on buttons in FF: http://bit.ly/cTp1kC */
.thumbsup input::-moz-focus-inner { border:0; }

/* Align spinner images */
.thumbsup .spinner { vertical-align:middle; }

/* ========== Buttons Template ========== */
.thumbsup.buttons.disabled button, .thumbsup.buttons.disabled .question { display:none; }

/* ========== Mini Poll Template ========== */
.thumbsup.mini_poll { height:61px; background:#eee; border:3px double #999; line-height:30px; color:#000; }
.thumbsup.mini_poll label { position:absolute; top:0; left:0; right:0; margin:0; height:30px; text-align:left; }
.thumbsup.mini_poll label.option_down { top:30px; border-top:1px solid #999; }
.thumbsup.mini_poll label:hover { background:#fff; }
.thumbsup.mini_poll strong { position:absolute; top:0; right:5px; text-align:right; }
.thumbsup.mini_poll .graph { display:none; position:absolute; top:0; left:0; height:30px; background:#bbb; }
.thumbsup.mini_poll .graph.down { top:31px; }
.thumbsup.mini_poll input[type="submit"] { display:none; }
.thumbsup.mini_poll.disabled input { display:none; }
.thumbsup.mini_poll.disabled label { padding-left:5px; }
.thumbsup.mini_poll.disabled label:hover { background:none; }
.thumbsup.mini_poll.disabled .graph { display:block; }

/* ========== Mini Thumbs Template ========== */
.thumbsup.mini_thumbs .result1 { display:block; margin:0 0 0 38px; height:16px; font-size:13px; line-height:16px; text-align:left; }
.thumbsup.mini_thumbs input { position:absolute; top:0; left:0; width:16px; height:16px; background:url(images/mini_thumbs.png) no-repeat 0 0; border:0; text-indent:-9999px; }
.thumbsup.mini_thumbs input.down { left:18px; background-position:-16px 0; }
.thumbsup.mini_thumbs input:hover, .thumbsup.mini_thumbs input:focus { background-position:0 -16px; }
.thumbsup.mini_thumbs input.down:hover, .thumbsup.mini_thumbs input.down:focus { background-position:-16px -16px; }
.thumbsup.mini_thumbs input:active { background-position:0 -32px; }
.thumbsup.mini_thumbs input.down:active { background-position:-16px -32px; }
.thumbsup.mini_thumbs.disabled input, .thumbsup.mini_thumbs.busy input { background-position:0 -48px; }
.thumbsup.mini_thumbs.disabled input.down, .thumbsup.mini_thumbs.busy input.down { background-position:-16px -48px; }
.thumbsup.mini_thumbs.right input { left:auto; right:18px; }
.thumbsup.mini_thumbs.right input.down { right:0; }
.thumbsup.mini_thumbs.right .result1 { margin:0 38px 0 0; text-align:right; }

/* ========== Thumbs Up Template ========== */
.thumbsup.thumbs_up { width:100px; height:100px; background:url(images/thumbs_up.png); text-align:center; color:#000; }
.thumbsup.thumbs_up .result1 { position:absolute; top:3px; left:0; right:0; font:bold 40px/50px 'Myriad Pro',sans-serif; letter-spacing:-0.05em; }
.thumbsup.thumbs_up .result1.squeeze { font-size:32px; }
.thumbsup.thumbs_up input { position:absolute; left:0; bottom:0; padding:0; width:100px; height:40px; background:url(images/thumbs_up.png) 0 -60px; border:0; text-indent:-9999px; }
.thumbsup.thumbs_up input:hover, .thumbsup.thumbs_up input:focus { background-position:0 -100px; }
.thumbsup.thumbs_up input:active { background-position:0 -140px; }
.thumbsup.thumbs_up.user_voted input, .thumbsup.thumbs_up.busy input { background-position:0 -180px; }
.thumbsup.thumbs_up.closed input { background-position:0 -220px; }

/* ========== Thumbs Up Down Template ========== */
.thumbsup.thumbs_up_down { width:300px; height:40px; background:url(images/thumbs_up_down.png) no-repeat 0 0; text-align:center; color:#000; }
.thumbsup.thumbs_up_down strong { position:absolute; top:0; padding-top:4px; width:100px; font:bold 32px/36px 'Myriad Pro',sans-serif; letter-spacing:-0.05em; }
.thumbsup.thumbs_up_down strong.squeeze { font-size:28px; }
.thumbsup.thumbs_up_down .result1 { left:0; }
.thumbsup.thumbs_up_down .result2 { right:0; }
.thumbsup.thumbs_up_down input { position:absolute; top:0; width:50px; height:40px; background:url(images/thumbs_up_down.png) no-repeat 50px 0; border:0; text-indent:-9999px; }
.thumbsup.thumbs_up_down input.up { left:100px; }
.thumbsup.thumbs_up_down input.down { right:100px; }
.thumbsup.thumbs_up_down input.up:hover, .thumbsup.thumbs_up_down input.up:focus { background-position:-300px 0; }
.thumbsup.thumbs_up_down input.down:hover, .thumbsup.thumbs_up_down input.down:focus { background-position:-350px 0; }
.thumbsup.thumbs_up_down input.up:active { background-position:-400px 0; }
.thumbsup.thumbs_up_down input.down:active { background-position:-450px 0; }
.thumbsup.thumbs_up_down.user_voted input.up, .thumbsup.thumbs_up_down.busy input.up { background-position:-500px 0; }
.thumbsup.thumbs_up_down.user_voted input.down, .thumbsup.thumbs_up_down.busy input.down { background-position:-550px 0; }
.thumbsup.thumbs_up_down.closed input.up { background-position:-600px 0; }
.thumbsup.thumbs_up_down.closed input.down { background-position:-650px 0; }

/* ========== Up Down Template ========== */
.thumbsup.up_down { width:60px; height:100px; background:#fff; color:#000; }
.thumbsup.up_down .result1 { display:block; padding-top:32px; font:bold 30px/40px 'Myriad Pro',sans-serif; letter-spacing:-0.05em; text-align:center; color:#6296BE}
.thumbsup.up_down .result1.squeeze { font-size:24px; }
.thumbsup.up_down input { position:absolute; left:0; width:60px; height:30px; background:#ccc url(images/up_down.png) no-repeat 0 -30px; border:0; text-indent:-9999px; }
.thumbsup.up_down input.up { top:0; }
.thumbsup.up_down input.down { bottom:0; background-position:0 -60px; }
.thumbsup.up_down input.up:hover, .thumbsup.up_down input.up:focus { background-color:#6296BE; background-position:0 0; }
.thumbsup.up_down input.down:hover, .thumbsup.up_down input.down:focus { background-color:#d52810; background-position:0 -90px; }
.thumbsup.up_down.disabled input, .thumbsup.up_down.busy input { display:none; }

/* ========== Fixes for IE ========== */
/* For IE6 and 7: text-indent does not work to hide text on submit buttons */
.thumbsup.mini_thumbs input, .thumbsup.thumbs_up input, .thumbsup.thumbs_up_down input, .thumbsup.up_down input { font-size:0; line-height:999px; }