<div class="widget box upright">
    <div class="body">
        <div class="row">
            <div class="column large-12">
                <div class="circle-icon medium">
                    <img ng-src="{{picture}}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column large-12 change {{class}}">
                <h2>{{grownumber}}</h2>
                <p><i class="fa fa-{{class}}"></i>{{growpercent}}%</p>
            </div>
        </div>
    </div>
    <div class="footer account">
        <p><a href="{{link}}" title="{{name}}">{{name}}</a></p>
    </div>
</div>