<div class="ranking sidebar filters">
	<div class="row small">
		<div class="column large-12">
			<label for="country">Pa&iacute;s</label>
			<div class="select">
				<input type="text" name="category" class="select" placeholder="Todos">
				<i class="fa fa-angle-down"></i>
			</div>
			<!-- <div class="select country"> -->
				<!-- <input type="text" name="country" class="select" placeholder="{{country.name}}"> -->
				<!-- <i class="fa fa-angle-down"></i> -->
				<!-- <img class="flag" ng-src="{{imagesFolder}}/flags/64/{{country.code | uppercase}}.png"/> -->
			<!-- </div> -->
		</div>
	</div>
	<div class="row small">
		<div class="column large-12">
			<label for="category">Categor&iacute;a</label>
			<div class="select">
				<input type="text" name="category" class="select" placeholder="Todas">
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
	<div class="row small">
		<div class="column large-12">
			<label for="idiom">Idioma</label>
			<div class="select">
				<input type="text" name="idiom" class="select" placeholder="Todas">
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>
</div>