#################################################################
#						Website Misc 							#
#################################################################
# Disable indexing of folders
Options -Indexes

#################################################################
#						Website Rewrites 						#
#################################################################


#################################################################
#						Website Security 						#
#################################################################
# Disable execution of the following file formats
AddHandler cgi-script .php3 .php4 .phtml .pl .py .jsp .asp .shtml .sh .cgi
Options -ExecCGI