<breadcrumbs links="breadcrumbs"></breadcrumbs>

<div class="app-content">
    <div class="section text-center">
        <div class="sub-section">
            <div class="row">
                <div class="column large-12">
                    <h1>{{'FACEBOOK_STATISTICS_TITLE' | translate}}</h1>
                    <div class="row">
                        <div class="column large-offset-3 large-6">
                            <p>{{'FACEBOOK_STATISTICS_SUBTITLE' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-section">
            <div class="row">
                <div class="column large-5">
                    <div class="row big">
                        <div class="column large-12">
                            <div class="widget box product">
                                <div class="body">
                                    <div class="row">
                                        <div class="column large-12">
                                            <div class="ill">
                                                <img ng-src="{{::imagesFolder}}/ill/8248c68c8e8b1f727b233a288c26913e.png">
                                            </div>
                                        </div>
                                    </div>
                                    <h2>{{'FACEBOOK_ANALYTICS_TITLE' | translate}}</h2>
                                    <div class="row big">
                                        <div class="column large-offset-1 large-10">
                                            <p>{{'FACEBOOK_ANALYTICS_DESCRIPTION' | translate}}</p>
                                        </div>
                                    </div>
                                    <a href="{{::url.facebook.analytics.pages}}" class="button bg-blue">Ranking de Páginas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-12">
                            <a href="{{::url.facebook.analytics.root}}" class="gray">{{'FACEBOOK_ANALYTICS_MORE_INFO' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="column large-2">
                    <img ng-src="{{::imagesFolder}}/ill/f323da827b0d2a2cf138ed66f65e86f0.png" class="facebook or">
                </div>
                <div class="column large-5">
                    <div class="row big">
                        <div class="column large-12">
                            <div class="widget box product">
                                <div class="body">
                                    <div class="row">
                                        <div class="column large-12">
                                            <div class="ill">
                                                <img ng-src="{{::imagesFolder}}/ill/40d8ab17c8463d3c916ed5b0c1a305a5.png">
                                            </div>
                                        </div>
                                    </div>
                                    <h2>{{'FACEBOOK_RESEARCH_TITLE' | translate}}</h2>
                                    <div class="row big">
                                        <div class="column large-offset-1 large-10">
                                            <p>{{'FACEBOOK_RESEARCH_DESCRIPTION' | translate}}</p>
                                        </div>
                                    </div>
                                    <a href="{{::url.facebook.research.countries}}" class="button bg-blue">Ranking de Países</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-12">
                            <a href="{{::url.facebook.research.root}}" class="gray">{{'FACEBOOK_RESEARCH_MORE_INFO' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <owloo-footer></owloo-footer>
</div>