<breadcrumbs links="breadcrumbs"></breadcrumbs>

<div class="app-content">
	<div class="section text-center">
		<div class="row">
        	<div class="column large-12">
	        	<div class="row big">
		            <div class="column large-12">
		                <h1>{{'OWLOO_FEATURES_H1_TITLE' | translate}}</h1>
		            </div>
	            </div>
	        	<div class="row big">
	            	<div class="column large-12">
	            		<img ng-src="{{::imagesFolder}}/ill/d2a7f0922b04aa6462ae18b20089810d.png"/>
	            	</div>
	            </div>
	            <div class="row">
	                <div class="column large-offset-3 large-6">
	                    <p>{{'OWLOO_FEATURES_H3_DESC' | translate}}</p>
	                </div>
	            </div>
            </div>
        </div>
	</div>
	
	<div class="section blue">
        <div class="row">
            <div class="column large-7 end">
                <div class="row">
                    <div class="column large-11">
                        <h3>{{'OWLOO_FEATURES_SECTION1_TITLE' | translate}}</h3>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION1_DESC1' | translate}}</p>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION1_DESC2' | translate}}</p>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION1_DESC3' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="column large-5">
                <img ng-src="{{::imagesFolder}}/ill/0e75bafcf01cc6e8787f4fcb618bb7c7.png"/>
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="row">
            <div class="column large-5 text-right">
                <img ng-src="{{::imagesFolder}}/ill/0e75bafcf01cc6e8787f4fcb618bb7c7.png"/>
            </div>
            <div class="column large-7 end">
                <div class="row">
                	<div class="column large-1"></div>
                    <div class="column large-11">
                        <h3>{{'OWLOO_FEATURES_SECTION2_TITLE' | translate}}</h3>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION2_DESC1' | translate}}</p>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION2_DESC2' | translate}}</p>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION2_DESC3' | translate}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="section blue">
        <div class="row">
            <div class="column large-7 end">
                <div class="row">
                    <div class="column large-11">
                        <h3>{{'OWLOO_FEATURES_SECTION3_TITLE' | translate}}</h3>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION3_DESC1' | translate}}</p>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION3_DESC2' | translate}}</p>
                        <p class="highlight">{{'OWLOO_FEATURES_SECTION3_DESC3' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="column large-5">
                <img ng-src="{{::imagesFolder}}/ill/0e75bafcf01cc6e8787f4fcb618bb7c7.png"/>
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="sub-section">
            <div class="row">
	            <div class="column large-offset-1 large-4 text-right">
	                <img ng-src="{{::imagesFolder}}/ill/2be2091f553e736630030bc41a669bdd.png"/>
	            </div>
	            <div class="column large-7">
	                <div class="row">
	                	<div class="column large-1"></div>
	                    <div class="column large-11 text-left">
	                        <h3>{{'OWLOO_FEATURES_SECTION4_TITLE' | translate}}</h3>
	                        <p class="highlight">{{'OWLOO_FEATURES_SECTION4_DESC1' | translate}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="sub-section">
            <div class="row">
	            <div class="column large-7">
	                <div class="row">
	                    <div class="column large-11 text-right">
	                        <h3>{{'OWLOO_FEATURES_SECTION5_TITLE' | translate}}</h3>
	                        <p class="highlight">{{'OWLOO_FEATURES_SECTION5_DESC1' | translate}}</p>
	                        <p class="highlight">{{'OWLOO_FEATURES_SECTION5_DESC2' | translate}}</p>
	                    </div>
	                </div>
	            </div>
	            <div class="column large-4 end">
	                <img ng-src="{{::imagesFolder}}/ill/5e09e3ee7526af90675debfbed33c4db.png"/>
	            </div>
	        </div>
        </div>
        <div class="sub-section">
            <div class="row">
	            <div class="column large-offset-1 large-4 text-right">
	                <img ng-src="{{::imagesFolder}}/ill/7aebe796c666bdca84538c1f1d21c283.png"/>
	            </div>
	            <div class="column large-7">
	                <div class="row">
	                	<div class="column large-1"></div>
	                    <div class="column large-11 text-left">
	                        <h3>{{'OWLOO_FEATURES_SECTION6_TITLE' | translate}}</h3>
	                        <p class="highlight">{{'OWLOO_FEATURES_SECTION6_DESC1' | translate}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
    
    <div class="section">
        <div class="row">
	        <div class="column large-12 text-center">
	            <a class="button bg-blue" href="{{::url.signin}}">{{'OWLOO_BUTTON_SIGNUP' | translate}}</a>
	        </div>
        </div>
    </div>
	<div class="hr"></div>
	<div class="section">
		<div class="sub-section text-center">
            <div class="row">
                <div class="column large-12">
                    <h1>{{'OWLOO_FEATURES2_H1_TITLE' | translate}}</h1>
                    <div class="row">
	                    <div class="column large-offset-3 large-6">
	                        <p>{{'OWLOO_FEATURES2_H3_DESC' | translate}}</p>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
		<div class="sub-section even text-center">
			<div class="sub-section">
				<div class="row big">
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <img ng-src="{{::imagesFolder}}/ill/f942d763d7a61a516ce31492034724e7.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<h4>{{'OWLOO_FEATURES_FEATURE1_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<p>{{'OWLOO_FEATURES_FEATURE1_DESC' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <img ng-src="{{::imagesFolder}}/ill/f942d763d7a61a516ce31492034724e7.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<h4>{{'OWLOO_FEATURES_FEATURE2_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<p>{{'OWLOO_FEATURES_FEATURE2_DESC' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
				                <img ng-src="{{::imagesFolder}}/ill/3f89d327443a3740c8c36c7ab3f754a3.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<h4>{{'OWLOO_FEATURES_FEATURE3_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<p>{{'OWLOO_FEATURES_FEATURE3_DESC' | translate}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-section">
				<div class="row big">
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
				                <img ng-src="{{::imagesFolder}}/ill/c422fa008c0bc28bf32f117a921d2eb8.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<h4>{{'OWLOO_FEATURES_FEATURE4_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<p>{{'OWLOO_FEATURES_FEATURE4_DESC' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
				                <img ng-src="{{::imagesFolder}}/ill/cf58984b68fce64092240f5d20736f19.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <h4>{{'OWLOO_FEATURES_FEATURE5_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <p>{{'OWLOO_FEATURES_FEATURE5_DESC' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <img ng-src="{{::imagesFolder}}/ill/f942d763d7a61a516ce31492034724e7.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <h4>{{'OWLOO_FEATURES_FEATURE6_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
					            <p>{{'OWLOO_FEATURES_FEATURE6_DESC' | translate}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-section">
				<div class="row">
					<div class="column large-4">
						<div class="row">
							<div class="column large-offset-1 large-10">
				                <img ng-src="{{::imagesFolder}}/ill/29f66e807944d2035e58bf42ebdd8428.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<h4>{{'OWLOO_FEATURES_FEATURE7_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<p>{{'OWLOO_FEATURES_FEATURE7_DESC' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="column large-4 end">
						<div class="row">
							<div class="column large-offset-1 large-10">
				                <img ng-src="{{::imagesFolder}}/ill/419805fdd8a057b39586104f29ffa3ac.png"/>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<h4>{{'OWLOO_FEATURES_FEATURE8_TITLE' | translate}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="column large-offset-1 large-10">
								<p>{{'OWLOO_FEATURES_FEATURE8_DESC' | translate}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-section">
				<div class="row">
			        <div class="large-12 text-center">
			            <a class="button bg-blue" href="{{::url.signin}}">{{'OWLOO_BUTTON_SIGNUP' | translate}}</a>
			        </div>
		        </div>
			</div>
		</div>
	</div>
    
	<owloo-footer></owloo-footer>
</div>