<breadcrumbs links="breadcrumbs"></breadcrumbs>

<div class="app-content">
	<div class="section ranking-page">
		<div class="row">
			<div class="column large-3">
				<div class="ranking sidebar filters">
					<div class="row small">
						<div class="column large-12">
							<label for="category">Categor&iacute;a</label>
							<div class="select">
								<input type="text" name="category" class="select" placeholder="Todas">
								<i class="fa fa-angle-down"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column large-9">
				<ranking rank="rank"></ranking>
			</div>
		</div>
		<div class="row small pagination">
			<div class="column large-offset-3 large-9">
				<pagination max-size="maxSize" total-items="total" page="page" items-per-page="perPage" on-select-page="pageChanged(page)"></pagination>
			</div>
		</div>
	</div>
    <owloo-footer></owloo-footer>
</div>