<div class="app-content">
    <div class="section slider text-center">
        <div class="slide">
            <img ng-src="{{::imagesFolder}}people{{slide}}.jpg"/>
        </div>
        <div class="content">
            <div class="row">
                <div class="social column large-offset-3 large-6">
                    <div class="row">
                        <h1>Analiza las redes sociales<br>Ahora más potente que nunca</h1>
                    </div>
                    <div class="row">
                        <div class="column large-12">
                            <a class="button bg-blue" href="{{::urlRoot}}facebook-stats">INICIAR TOUR</a>
                            <a class="button bg-gray" href="{{::urlRoot}}features">COMO FUNCIONA</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="highlight bg-blue text-center">
                <h3>Más de <span id="owloo_user_count">{{::totalOwlooUsers}}</span> profesionales, medios y agencias registradas</h3>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="column large-3 text-center">
                <div class="row">
                    <div class="column large-10 end">
                        <h2>{{'MOST_FACEBOOK_PAGES_GROWTH' | translate | replace:'$1':'Hispanoamérica'}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <div class="button small bg-blue">
                            <a href="{{::urlRoot}}facebook-stats/pages/hispanic/">RANKING DE PAGINAS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-9">
                <div class="row">
                    <div class="column large-3" ng-repeat="page in facebookGrowRank">
                        <widget-box-upright picture='{{page.picture}}' grownumber='{{page.grow_30}}' growpercent='{{page.percent}}' 
                        link='{{::urlRoot}}facebook-stats/pages/{{page.username}}' name='{{page.name}}' class='plus'></widget-box-upright>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section even">
        <div class="row">
            <div class="column large-3 text-center">
                <div class="row">
                    <div class="column large-10 end">
                        <h2>{{'MOST_TWITTER_ACCOUNT_GROWTH' | translate | replace:'$1':'Hispanoamérica'}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <div class="button small bg-blue">
                            <a href="{{::urlRoot}}twitter-stats">RANKING DE TWITTER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-9">
                <div class="row">
                    <div class="column large-3" ng-repeat="profile in twitterGrowRank">
                        <widget-box-upright picture='{{profile.picture}}' grownumber='{{profile.grow_30}}' growpercent='{{profile.percent}}' 
                        link='{{::urlRoot}}twitter-stats/userpage/{{profile.screen_name}}' name='{{profile.name}}' class='plus'></widget-box-upright>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section even">
        <div class="row">
            <div class="column large-3 text-center">
                <div class="row">
                    <div class="column large-10 end">
                        <h2>{{'MOST_TWITTER_ACCOUNT_GROWTH' | translate | replace:'$1':'Hispanoamérica'}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <div class="button small bg-blue">
                            <a href="{{::urlRoot}}instagram-stats">RANKING DE Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-9">
                <div class="row">
                    <div class="column large-3" ng-repeat="profile in instagramGrowRank">
                        <widget-box-upright picture='{{profile.picture}}' grownumber='{{profile.grow_30}}' growpercent='{{profile.percent}}' 
                        link='{{::urlRoot}}instagram-stats/userpage/{{profile.username}}' name='{{profile.name}}' class='plus'></widget-box-upright>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section even">
		<div class="title">
			<div class="row">
				<div class="column large-12">
					<h2>{{'FACEBOOK_PAGE_GRAYBAR2' | translate | replace:$1:30}}</h2>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="column large-3" ng-repeat="country in countryGrowRank">
					<widget-box-horizontal icon='flag_{{country.code}}' class='{{country.grow_30.class}}'
					value='{{country.grow_30.value}}' percent='{{country.grow_30.percent}}' link='{{::urlRoot}}facebook-stats/{{country.link}}' footer="{{country.name}}">
					</widget-box-horizontal>
				</div>
			</div>
		</div>
	</div>
    
    <div class="section">
        <div class="row">
            <div class="column large-3 text-center">
                <div class="row">
                    <div class="column large-10 end">
                        <h2>{{'MOST_FACEBOOK_COUNTRIES_GROWTH' | translate | replace:'$1':'Hispanoamérica'}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="button small bg-blue">
                            <a href="{{::urlRoot}}facebook-stats">RANKING DE PAISES</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column large-9">
                <?php foreach ($hh_higher_growing as $key => $data) { ?>
                    <?php if ($key == 0 || $key % 4 == 0) { ?> <div class="row"> <?php } ?>
                        <div class="column large-3">
                            <div class="widget box upright">
                                <div class="body clearfix">
                                    <div class="row">
                                        <div class="column large-6">
                                            <div class="flag">
                                                <img ng-src="{{::imagesFolder}}/flags/64/<?=$data['code']?>.png"/>
                                            </div>
                                        </div>
                                        <div class="column large-6 change">
                                            <h2 class="value"><?=$data['cambio']?></h2>
                                            <p class="percent"><i class="fa fa-plus"></i><?=owlooFormatPorcent($data['cambio_number'], 112000000)?>%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer country">
                                    <?=str_replace('República', 'Rca', $data['pais'])?>
                                </div>
                            </div>
                        </div>
                    <?php if (($key+1) % 4 == 0) { ?> </div> <?php } ?>
                <?php } ?>
            </div>
        </div>
    </div>
    <owloo-footer></owloo-footer>
</div>