<div class="section breadcrumbs">
    <div class="row small">
        <div class="column large-12">
            <a href="{{::urlRoot}}">Owloo</a>
            <i class="fa fa-angle-right"></i>
            <a href="{{::urlRoot}}twitter-stats">Estad&iacute;sticas de Twitter</a>
        </div>
    </div>
</div>
<div class="app-content">
    <div class="section text-center">
        <div class="row big">
            <div class="column large-12">
                <h1>Twitter. Insight. Optimización.</h1>
                <div class="row">
                    <div class="column large-offset-3 large-6">
                        <p>Herramienta de monitoreo, seguimiento y análisis de las estadísticas de Twitter.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column large-3">
                <div class="icon">
                    <i class="fa fa-globe"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="{{::urlRoot}}facebook-stats/continents">Ranking de continentes</a>
            </div>
            <div class="column large-3">
                <div class="icon">
                    <i class="fa fa-flag-o"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="{{::urlRoot}}facebook-stats/hispanic-ranking">Ranking de pa&iacute;ses</a>
            </div>
            <div class="column large-3">
                <div class="icon">
                    <i class="fa fa-building-o"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="{{::urlRoot}}facebook-stats/cities">Ranking de ciudades</a>
            </div>
            <div class="column large-3">
                <div class="icon">
                    <i class="fa fa-desktop"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="{{::urlRoot}}facebook-stats/pages/world">Ranking de p&aacute;ginas</a>
            </div>
            </div>
        </div>
    </div>
    <div class="section even">
        <div class="row">
            <div class="column large-4">
                <div class="row">
                    <div class="column large-12">
                        <h2>{{'OWLOO_FEATURES_FEATURE2_TITLE' | translate}}</h2>
                        <p>{{'OWLOO_FEATURES_FEATURE2_DESC' | translate}}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <a class="button bg-blue" href="{{::urlRoot}}facebook-stats/hispanic-ranking">RANKING DE PAISES</a>
                    </div>
                </div>
            </div>
            <div class="column large-7">
                <img ng-src="{{::imagesFolder}}statics-illustration.png"/>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="column large-7">
                <img ng-src="{{::imagesFolder}}statics-illustration.png"/>
            </div>
            <div class="column large-4">
                <div class="row">
                    <div class="column large-12">
                        <h2>{{'OWLOO_FEATURES_FEATURE3_TITLE' | translate}}</h2>
                        <p>{{'OWLOO_FEATURES_FEATURE3_DESC' | translate}}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <a class="button bg-blue" href="{{::urlRoot}}facebook-stats/pages/hispanic">RANKING DE PAGINAS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section even">
        <div class="row">
            <div class="column large-4">
                <div class="row">
                    <div class="column large-12">
                        <h2>{{'OWLOO_FEATURES_FEATURE5_TITLE' | translate}}</h2>
                        <p>{{'OWLOO_FEATURES_FEATURE5_DESC' | translate}}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column large-12">
                        <a class="button bg-blue" href="{{::urlRoot}}facebook-stats/pages/hispanic">INCIAR TOUR</a>
                    </div>
                </div>
            </div>
            <div class="column large-7">
                <img ng-src="{{::imagesFolder}}statics-illustration.png"/>
            </div>
        </div>
    </div>
    <div class="section text-center">
        <div class="row">
            <div class="column large-offset-1 large-10">
                <div class="widget box total-data">
                    <div class="body">
                        <div class="row">
                            <div class="item column large-5">
                                <div class="row">
                                    <div class="column large-offset-1 large-6">
                                        <h2>{{::facebookAllUsers}}</h2>
                                        <p>de usuarios en total</p>
                                    </div>
                                    <div class="column large-4 end">
                                        <div class="icon circle small bg-blue">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item column large-offset-1 large-6">
                                <div class="row">
                                    <div class="column large-4">
                                        <p>Mujeres</p>
                                        <h2>{{::facebookWomenUsers}}</h2>
                                    </div>
                                    <div class="column large-4">
                                        <p>Hombres</p>
                                        <h2>{{::facebookMenUsers}}</h2>
                                    </div>
                                    <div class="column large-4">
                                        <p>CPC promedio</p>
                                        <h2>{{::facebookAverageCPC}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <owloo-footer></owloo-footer>
</div>