<div class="chart">
	<div class="charts-container main-container-vertical" style="height: 300px; position: relative;">
		<div class="max-vertical">MAX 500</div>
	    <div id="container-bar" style="height: 300px; min-width: 300px; position: relative; z-index: 2;"></div>
	    <div class="image">
	    	<img src="owloo-analytics-charts.png" alt="" />
	    </div>
	    <div class="grid-content-vertical">
	        <div class="grid-row-vertical">
	            <div class="grid-column-vertical"></div>
	            <div class="grid-column-vertical"></div>
	            <div class="grid-column-vertical"></div>
	            <div class="grid-column-vertical"></div>
	            <div class="grid-column-vertical last"></div>
	        </div>
	    </div>
	</div>
</div>