/*
========================================================================
PLUGINS
========================================================================
*/

div.plugin-box {
    margin-bottom: 20px;
    overflow: auto;
}

div.plugin-box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.plugin-box	li {
	display: block;
	word-wrap: break-word;
	padding: 2px 0;
	line-height: 20px;
	font-size: 1.32em;
}

.plugin-box.plugin_html_code {
    font-size: 1.32em;
    overflow: visible;
}

div.plugin-box h3.plugin-title {
    color: #505050;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px;
    padding: 4px 10px;
    line-height: 26px;
    
    background-color: #fcfcfc;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    color: #505050;
    font-family: OpenSans-Light;
    
}

/*
========================================================================
PLUGINS :: Last posts
========================================================================
*/

div.plugin_last_posts {

}

div.plugin_last_posts	li {
	border-bottom: 1px solid #F1F1F1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/*
========================================================================
PLUGINS :: About
========================================================================
*/

div.plugin_about {

}

div.plugin_about	li.name {
	font-weight: bold;
	font-size: 0.9em;
}

div.plugin_about	li.about {
	font-size: 0.9em;
}

div.plugin_about	li.image {
	float: left;
	overflow: auto;
	width:70px;
}

div.plugin_about	img.plugin_about {
    max-width:64px;
}
