// Owloo Settings
// Table of Contents

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$default-font-family:		"museo-sans",sans-serif;
$rounded-font-family:		"report", sans-serif;

$headline-font-size:		3rem;
$headline-line-height:		1.4;

$title-font-size:			2.5rem;
$title-line-height:			1.4;

$subtitle-font-size:		1.8rem;
$subtitle-line-height:		1.4;

$default-font-size:			1.5rem;
$default-line-height:		1.5;

$small-font-size:			1.4rem;
$small-line-height:			1.5;

// Layout
// - - - - - - - - - - - - - - - - - - - - - - - - -

$row-width:					1100px;
$default-border-radius:		4px;

$slider-margin:				14rem;
$nav-height:				7.2rem;
$breadcrumbs-height:		4.5rem;

$great-margin:				6rem;
$big-margin:				4rem;
$medium-margin:				3rem;
$default-margin:			2rem;
$small-margin:				1.5rem;
$xsmall-margin:				1rem;

$section-padding:			10rem;
$great-padding:				6rem;
$big-padding:				4rem;
$medium-padding:			3rem;
$default-padding:			2rem;
$small-padding:				1.5rem;
$xsmall-padding:			1rem;

// Colour
// - - - - - - - - - - - - - - - - - - - - - - - - -

$white:						#FFFFFF;
$blue:						#007CC3;
$sky-blue:					#338CC3;
$dark-blue:					#0071B1;
$green:						#9FC569;
$red:						#D86D6D;
$orange:					#F08A52;
$gray:						#808080;
$light-gray:				#f5f6f8;
$dark-gray:					#505a71;

$default-link-color:		$sky-blue;
$default-font-color:		#6b838f;
$light-font-color:			#979AA9;
$second-font-color:			$blue;

$default-border-color:		#E5E5E5;

$default-shadow-color:		#888888;

$default-icon-color:		#2e8fc4;

$primary-background:		#F8F8F8;
$second-background:			#FFFFFF;


// Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -

$big-icon-size:				130px;
$medium-icon-size:			100px;
$default-icon-size:			70px;
$small-icon-size:			50px;